<h1>Books</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% @books.each do |book| %>
    <% if book.title.present? || book.body.present? %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <%= link_to 'Show', book_path(book.id) %>
          <%= link_to 'Edit', edit_book_path(book.id) %>
          <%= link_to "Destroy", book_path(book.id), method: :delete, data: { confirm: "Are you sure?" } %>
          
          
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<h2>New book</h2>
<% if @book.errors.any? %>
<div style=
   "border: 2px solid red; 
   background-color: 
   #f0f0f0; 
   width: 450px; 
   padding: 7px; 
   padding-bottom: 0; 
   margin-bottom: 20px;">
  
  <h2 style=
   "text-align: left; 
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;">
    <%= @book.errors.count %>errors prohibited this book from being saved:
   </h2>
   
   <style>
  ul { font-size: 12px;}
  ul li { list-style: square; }
  </style>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<%end%>

<!-- form_with部分 -->
<%= form_with model: Book.new, url: books_path, method: :post do |f| %>
<h6>Title</h6>
<%= f.text_field :title %>

<h6>Body</h6>
<%= f.text_area :body %>

<br>
<%= f.submit 'Create Book' %>
<% end %>


